footer {
  background: $gray-dark;
  bottom: 0;
  color: $gray-lighter;
  font-size: larger;
  padding: 30px;
  height: 20rem;
  margin: auto;
  position: absolute;
  width: 100%;
}

.footer-container {
  margin-bottom: 20rem;
}
