.container-fluid {
  .jumbotron {
    background: url(image_path("hero.jpg")) left top no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 100vh;
    margin: auto;
    padding: 14%;
    width: 100%;

    h1 {
      color: $brand-primary;

      small {
        color: $gray-dark;
      }
    }
  }
}
