<div class="jumbotron">
    <div class="row form-group">
        <div class="col-lg-12">
            <h1>
                Fortune. Subscribed. <br>
                <small>Get a random quote delivered to your mailbox daily!</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <a href="#" class="btn btn-primary btn-lg">Sign me up!</a>
        </div>
    </div>
</div>